.root{
    -fx-background-color: #3d4956;
    -fx-tick-label-fill:  #f2efef;
    -fx-font-family: "Segoe UI Semibold";
}

.label{
    -fx-font-size: 14px;
    -fx-text-fill: #f2efef;
    -fx-opacity: 0.9;
}

.labelTittle{
    -fx-font-size: 20px;
    -fx-font-family: "Segoe UI Semibold";
}

.combo-box{
    -fx-border-color:#E6E6E6;
    -fx-border-style:solid;
    -fx-border-radius: 5;
    -fx-border-width:1;
    -fx-pref-width: 200;
}
.combo-box .arrow{
    -fx-background-color:#eda678;
}
.combo-box .arrow-button{
    -fx-background-color:#eda678;
    -fx-border-style:none;
}
.combo-box .arrow-button{
    -fx-background-color:white;
}
.combo-box .list-cell{
    -fx-background-color:#c9c6c6;
    -fx-font-size: 14px;
}

.combo-box .list-cell:hover{
    -fx-background-color:#eda678;
}


.main{
    -fx-background-image: url(images/city_vector.jpg);
    -fx-background-size: cover;
}

.menu-bar{
    -fx-background-color: #3d4956;
    -fx-border-color: #f2efef;
}

.menu{
    -fx-padding: 10px 20px 10px 20px;
}


.menu:hover{
    -fx-background-color: #666b6e;
}

.menu-item{
    -fx-background-color: #666b6e;
    -fx-border-color: #3d4956;
    -fx-border-width: 1px;
}

.menu-item:hover,
.menu-item:focused{
    -fx-background-color: #3d4956;
}

.text-field {
    -fx-font-size: 14px;
}

.button{
    -fx-padding: 5px 20px 5px 20px;
    -fx-background-color: #eda678;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
}

.button:hover,
.button:focused{
    -fx-background-color: #f2efef;
}


.loginTitle{
    -fx-font-size: 24px;
}

.gridLogin{
    -fx-border-color: rgba(242, 239, 239, 0.6);
    -fx-padding: 20px;
    -fx-alignment: center;
    -fx-vgap: 10px;
    -fx-hgap: 10px;
}

.hBox{
    -fx-alignment: center;
    -fx-padding: 0px 0px 100px 0px;
    -fx-font-size: 14px;
}

.hBoxListBuildingPane{
    -fx-spacing: 3;
    -fx-padding: 30 10 10 10;
    -fx-alignment: CENTER;
}

.hBoxTopHBoxBuildingPane{
    -fx-border-color: #f2efef;
    -fx-spacing: 50;
    -fx-padding: 10;
    -fx-alignment: CENTER;
}

.vBoxTopHBoxBuildingPane{
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}

.vBox{
    -fx-alignment: CENTER;
    -fx-spacing: 5;
    -fx-padding: 10;
}

.borderPaneLogin{
    -fx-padding: 200;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler{
    -fx-background-color: #eda678;
    -fx-border-color: #3d4956;
}

.table-view .column-header-background .label{
    -fx-text-fill: #000;
}

.table-view .column-header {
    -fx-background-color: #eda678;
    -fx-border-color: #3d4956;
}

.table-view .table-cell{
    -fx-text-fill: #000;
    -fx-alignment: center;
    -fx-border-color: #3d4956;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #dbd5d5;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-font-size: 14px;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #bab4b4;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #f4c9a4;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.hBoxBankDetailsBildingPane{
    -fx-spacing: 10;
    -fx-padding: 50;
    -fx-alignment: CENTER;
    -fx-border-color: white;
}

.mainPadding{
    -fx-padding: 10;
}

.hBoxBottomMain{
    -fx-spacing: 30;
    -fx-padding: 30;
    -fx-alignment: CENTER;
    -fx-border-color: white;
}

/*TABLE STYLE*/
/*
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #eda678;
    -fx-border-color: #3d4956;
    -fx-padding: 0;
}
.table-view .column-header .label{
    -fx-text-fill: black;
    -fx-font-weight: bold; 
    -fx-alignment: CENTER;
}

.table-view .cell{
    -fx-background-color: #f2efef;
    -fx-border-color: #eda678;
    -fx-alignment: CENTER;
    -fx-font-size: 14px;
}*/


/*
 
 

*/
/*.table-row-cell:selected {
    -fx-background-color: whitesmoke; 
    -fx-text-background-color:  #6622CC;


}

 scroll bar starts here 

 The increment and decrement button CSS class of scrollbar 
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

 The main scrollbar **track** CSS class  
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive( #6622CC,80%);

    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

 The main scrollbar **thumb** CSS class which we drag every time (movable) 
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #6622CC,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

 chart properties 

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}*/







